<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="homeURL" value="http://www.gmail.com"/>
    <add key="serverHost" value="127.0.0.1"/>
    <add key="browser" value="*chrome"/>
    <add key="port" value="4444"/>
    <add key="browserName" value=""/>
    <add key="deviceName" value="emulator-5554"/>
    <add key="automationName" value="Appium"/>
    <add key="platformVersion" value="4.4.4"/>
    <add key="platformName" value="Android"/>
    <add key="app" value="src/main/resources/APK Files/LinkedIn-3.4.apk"/>
    <add key="takesScreenshot" value="true"/>
  </appSettings>
</configuration>